{% extends "webApp/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <h2>Set Up Your Password</h2>
    
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div class="alert alert-danger">
                {{ field.errors }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Create Password!</button>
    </form>
</div>
{% endblock %}